/* .slider{
    border: none;
    
} */
.cuisine-same{
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
   border-radius: 50%;
   text-align: center;
   font-size: large;
   background-color: rgb(212, 237, 249);
 font-family: Cursive;
 color: green;

}
.arrow{
    border:none;
    background: none;

 
}
.asda{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider{
  
    height: 100px;
      width: 100vw; 
    display: grid;
    grid-template-columns: repeat(11,1fr);
    border: none;
  
}


@media screen and (max-width:600px){
    .slider{
        /* display: flex;
    
      
        width: 100vw;
    
        border:none;
        border-radius: 10px;*/
        height: 100px;
          width: 90vw; 
        display: grid;
        grid-template-columns: repeat(3,1fr);
      
    }
    
}
/* {`cuisine-same */
/* .Breakfast{
    background-color: rgb(212, 237, 249);
    background-image: url("../../images/breakfast.png");

}
.Dessert{
    background-color: rgb(248, 202, 219);
    background-image: url("../../images/desserts.png");
 
}
.Lebanese{
    background-color: rgb(248, 202, 219);
    background-image: url("../../images/lebanese.png");
    

}

.American {
    background-color: rgb(248, 202, 219);

}

 .Mexican{

    background-color: rgb(248, 202, 219);
  
}


.Italian{

    
    background-color: rgb(248, 202, 219);
   
}
.Indian{
    
    background-color: rgb(248, 202, 219);
  
}
.Chinese{
    
    background-color: rgb(248, 202, 219);
   
}
.Dessert{
    background-color: rgb(248, 202, 219);
}

.Pizza{

    
    background-color: rgb(248, 202, 219);
 
}
.Vegetarian{

    
    background-color: rgb(248, 202, 219);
  
}

.Japanese{

    
    background-color: rgb(248, 202, 219);
 
}
.Breakfast{

    
    background-color: rgb(248, 202, 219);

}
.Arabic {

    
    background-color: rgb(248, 202, 219);
 
} */