
.cuisine-same{
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
   border-radius: 50%;
   text-align: center;
   font-size: large;

 font-family: Cursive;
 color: green;

}
/* {`cuisine-same */
.Breakfast{
    background-color: rgb(212, 237, 249);
    background-image: url("../../images/breakfast.png");

}
.Dessert{
    background-color: rgb(248, 202, 219);
    background-image: url("../../images/desserts.png");
 
}
.Lebanese{
    background-color: rgb(248, 202, 219);
    background-image: url("../../images/lebanese.png");
    

}

.American {
    background-color: rgb(248, 202, 219);

}

 .Mexican{

    background-color: rgb(248, 202, 219);
  
}


.Italian{

    
    background-color: rgb(248, 202, 219);
   
}
.Indian{
    
    background-color: rgb(248, 202, 219);
  
}
.Chinese{
    
    background-color: rgb(248, 202, 219);
   
}
.Dessert{
    background-color: rgb(248, 202, 219);
}

.Pizza{

    
    background-color: rgb(248, 202, 219);
 
}
.Vegetarian{

    
    background-color: rgb(248, 202, 219);
  
}

.Japanese{

    
    background-color: rgb(248, 202, 219);
 
}
.Breakfast{

    
    background-color: rgb(248, 202, 219);

}
.Arabic {

    
    background-color: rgb(248, 202, 219);
 
}