.cart-container{
  width: 70vw;
  
  height: 70vh;
}

table {
    border-collapse:collapse;
    width: 100%;
  }
  
  th, td {
    padding:20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  /* tr:nth-child(even) {background-color: #fbc4e6;}
  th {background-color: #d389b7;
font-size: larger;} */
.parint{
    position: relative;
}
.child{

position: absolute;
 right: 0;
margin-top: 30px;
display: flex;
flex-direction: column;




}
.backbut{
  position: absolute;
  left: 15vw ;
 margin-top: 100px;
}

.finaldata{
color: green;
font-size: large;
}
.check-out-final-data-divs{
display: flex;
border-bottom: 1px solid black;

}

.empty-cart{

  font-size: 2rem;

}
.cart-container-empty{
  width: 70vw;

  height: 100%;
}

.cart-container-empty p{
  font-size: 2.4rem;

}
.img{

 margin: auto;
 height: 300px;
 width: 600px;
  
  border-bottom: 1px solid black;
}
 img{

 width: 100%;
 height: 100%;
}