
.home{
 
    /* grid-template-columns: 1fr ;
    grid-template-rows: 3f 3fr 1fr;
    grid-template-areas: "imgdiv"
    "datadiv"
    "data2div" */
    display: flex;
    flex-direction: column;
     
    text-align: center;
    gap: 10px;
    width: 100vw;
 
   
}
.start-home-img{

    background-image: url("../../../public/images/background4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 98%;
    height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
    justify-content: center;
    font-size: larger;
    margin-left: .5%;
}

.rated{
    width: 96vw;
  display: grid;  
  grid-template-columns: repeat(4,1fr);
 gap: 1.2rem;
 margin: 1.5rem;
}

.infotop{
    width: 100%;
   height: 90px;
   
   background-color:rgba(0,0,0,0.8) ;
   }
.restauranttop{
    border: 1px solid;
    background-color:    rgb(248, 202, 219); 
    display: flex;
    width: 100%;
    height:250px;
    border-radius: 10px;
    
    justify-content: center;
    align-items:flex-end;
    align-content:end;
    background-position: center;
    background-size: cover;
    
    font-size:medium;
    
    font-family: Cursive;
    color: green;
    
    }


h4{
    background-color: rgba(241, 241, 247,.6);

}
.cuisine-div-inhome{
 display: flex;
 justify-content: center;


 height: 100px;

width: 90vw;


}

@media screen and (max-width:600px) {
    .rated{
        width: 96vw;
      display: grid;  
      grid-template-columns: repeat(2,1fr);
     gap: 1.2rem;
     margin: 1.5rem;
    }
}