
.home{
 
    /* grid-template-columns: 1fr ;
    grid-template-rows: 3f 3fr 1fr;
    grid-template-areas: "imgdiv"
    "datadiv"
    "data2div" */
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 100vw;
 
   
}
.start-home-img{

    background-image: url("../../images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
    justify-content: center;
    
}
h4{
    background-color: rgba(241, 241, 247,.6);

}
.cuisine-div-inhome{
 display: flex;
 justify-content: space-around;
 width: 100vw;
 height: 100px;

}