
@keyframes slide {
    0%{
        opacity: 0;
        transform:translateY(-4rem)

    }
    100%{
        opacity:1;
        transform:none;


    }
}

@keyframes slidepizza {
   from{
        opacity: 0;
        transform:translateY(-30rem)
    }
    to{
        opacity:1;
        transform:none;


    }
}


 

@keyframes pop-down {
    0%{
        opacity: 0;
        transform:translateY(-4rem) scale(.8)

    }
    100%{
        opacity:1;
        transform:none;


    }
}
    
@keyframes puls {
    0%{
        opacity: 1;
        transform:none;

    }
    50%{
        opacity: 0.8;
        transform:scale(.8)

    }

    100%{
        opacity:1;
        transform:none;


    }
}


@keyframes rotate {
    from {
      transform: rotate(0deg); 
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rollIn {
    0% {
       opacity: 1;
       transform: translatey(-80vh) rotate(0deg);
    }
    100% {
       opacity: 1;
       transform: translatey(1%) rotate(360deg);
    }  
 }
  
  
  
.h1{
    animation: pop-down 2s 3s ease-out forwards;
    opacity: 0;
}

.h2{
    animation: pop-down 2s 3.5s ease-out forwards;
    opacity: 0;
}
.h3{
    animation: pop-down 2s 3.7s ease-out forwards;
    opacity: 0;
}
.h4{
    animation: pop-down 2s 3.9s ease-out forwards;
    opacity: 0;
}
.h5{
    animation: pop-down 2s 4.1s ease-out forwards;
    opacity: 0;
}
.h6{
    animation: pop-down 2s 4.3s ease-out forwards;
    opacity: 0;
}

.home{
 
    /* grid-template-columns: 1fr ;
    grid-template-rows: 3f 3fr 1fr;
    grid-template-areas: "imgdiv"
    "datadiv"
    "data2div" */
    display: flex;
    flex-direction: column;
     
    text-align: center;
    gap: 10px;
    width: 100vw;
 
   
}



.start-home-img{
  animation: slide 2s .1s ease-out forwards  ;
  opacity: 0;
    background-image: url("../../../public/images/background4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 98%;
    height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
    justify-content: center;
    font-size: larger;
    margin-left: .5%;
    position: relative;
}

.pizza{
 animation: rollIn 10s 1s linear infinite;
opacity: 0;
position: absolute;
right: 0%;
bottom: 0%;
width: 3rem;
height: 3rem;
/* background-color: transparent; */
/* background-color:black; */
/* backface-visibility:visible;  */
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-image: url("../../../public/images/icons8-pizza-64.png");

}
.burger{
    animation: rollIn 10s  3s linear infinite;
    opacity: 0;
   position: absolute;
   right: 3%;
   bottom: 2%;
   width: 3rem;
   height: 3rem;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url("../../../public/images/icons8-hamburger-64.png");
   
   }
   
   .sushi{  
    animation: rollIn 10s  7s linear infinite;
     opacity: 0;
   position: absolute;
   right: 6%;
   bottom: 3%;
   width: 3rem;
   height: 3rem;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url("../../../public/images/icons8-sushi-64.png");
   
    }
   .salad{  
    animation: rollIn 10s  2s linear infinite;
    opacity: 0;
   position: absolute;
   right: 8%;
   bottom: 2%;
   width: 3rem;
   height: 3rem;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url("../../../public/images/icons8-salad-64.png");
   
    }
   .lamb{ 
    animation: rollIn 10s  10s linear infinite;
     opacity: 0;
   position: absolute;
   right: 11%;
   bottom: 0%;
   width: 3rem;
   height: 3rem;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url("../../../public/images/icons8-beef-64.png");
   
     }
   .sandwish{   
    animation: rollIn 10s  8s linear infinite;
      opacity: 0;
   position: absolute;
   right: 13%;
   bottom: 3%;
   width: 3rem;
   height: 3rem;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url("../../../public/images/icons8-wrap-64.png");
   
   }
   .pie{  
    animation: rollIn 10s  7s linear infinite;
      opacity: 0;
   position: absolute;
   right:15%;
   bottom: 2%;
   width: 3rem;
   height: 3rem;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url("../../../public/images/icons8-pie-64.png");
   
    }

    .doughnut{  
        animation: rollIn 10s 1s linear infinite;
          opacity: 0;
       position: absolute;
       right:17%;
       bottom: 0%;
       width: 3rem;
       height: 3rem;
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       background-image: url("../../../public/images/icons8-doughnut-64.png");
       
        }




       .video{

    display: flex;
    justify-content: center;
    margin-top:5rem;
       }
    






.start-home-img button{
    animation: pop-down 2s 4.5s ease-out forwards , puls 2s 4.7s ease-out infinite;
    opacity: 0;
}
.rated{
    width: 96vw;
  display: grid;  
  grid-template-columns: repeat(4,1fr);
 gap: 1.2rem;
 margin: 1.5rem;
}

.restauranttop:hover{
border: 5px  outset  green;
transform: scale(1.1) ;
}

.infotop{
    width: 100%;
   height: 90px;
   
   background-color:rgba(0,0,0,0.7) ;
   }
.restauranttop{
    border: 1px solid;
    background-color:    rgb(248, 202, 219); 
    display: flex;
    width: 100%;
    height:250px;
    border-radius: 10px;
    
    justify-content: center;
    align-items:flex-end;
    align-content:end;
    background-position: center;
    background-size: cover;
    
    font-size:medium;
    
    font-family: Cursive;
    color: rgb(87, 188, 56);
    
    }


h4{

    background-color: rgba(241, 241, 247,.6);
border-radius: 1rem;
font-size: 1.5rem;
    opacity: 0;
    animation: pop-down 2s 2s ease-out forwards;

}
.cuisine-div-inhome{
 display: flex;
 justify-content: center;


 height: 100px;

width: 90vw;


}


@media screen and (max-width:600px) {
    .rated{
        width: 96vw;
      display: grid;  
      grid-template-columns: repeat(2,1fr);
     gap: 1.2rem;
     margin: 1.5rem;
    }
}