.meals-main-div{

    display: flex;
    flex-direction: column; 
justify-content: center;
align-self: flex-start;
padding: 0;
margin: 0;
width: 100vw;

}




.menu{
/* border: 1px solid; */
/* background-color:    rgb(248, 202, 219);  */
display: flex;
flex-direction: column;
width: 350px;
height:250px;
border-radius: 10px;
justify-content: center;
/* align-items:flex-end; */
/* align-content:end; */
/* background-position: center;
background-size: cover; */
font-size:medium;
font-family: Cursive;
color: green;

}
.mealinfo{
 width: 350px;
height: 90px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
background-color:rgba(0,0,0,0.9) ;
}

.mealimg{

    width: 350px;
    height: 160px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.mealimg img{
    width: 350px;
    height: 160px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.cuisine-div-inrestaurants{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100px;
  
   
   }

   .meal-div-for-all{
 
    display: grid;    
    row-gap: 20px;
    grid-template-columns: repeat(auto-fit ,minmax(350px,1fr)) ;
    padding:2rem 5rem;
   }
   .div{

    display: flex;
    flex-direction: column;
    margin: 20px;
   }
.divContaner{
    display: grid;
    gap:10px;
    grid-template-columns: repeat(3,1fr);
   margin:50px;
   
}
@media screen and (max-width : 600px) {
    .divContaner{
        display: grid;
        grid-template-columns: repeat(1,1fr);
       
    }
}
@media screen and (max-width : 900px) and (min-width :600px){
    .divContaner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       
    }
}