.meals-main-div{

    display: flex;
    flex-direction: column;
}


.menu{
border: 1px solid;
background-color:    rgb(248, 202, 219); 
display: flex;
width: 350px;
height:250px;
border-radius: 10px;


justify-content: center;
align-items:flex-end;
align-content:end;
background-position: center;
background-size: cover;



font-size:medium;

font-family: Cursive;
color: green;

}
.mealinfo{
 width: 350px;
height: 90px;

background-color:rgba(0,0,0,0.8) ;
}
.cuisine-div-inrestaurants{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100px;
   
   }

   .meal-div-for-all{

    display: grid;    
    row-gap: 20px;
    grid-template-columns: repeat(auto-fit ,minmax(350px,1fr)) ;
    padding:2rem 5rem;
   }