.meals-main-div{

display: flex;
flex-direction: column; 
justify-content: center;
align-self: flex-start;
padding: 0;
margin: 0;
width: 100vw;

}




.menu{
/* border: 1px solid; */
/* background-color:    rgb(248, 202, 219);  */
display: flex;
flex-direction: column;
width: 350px;
height:250px;
border-radius: 10px;
justify-content: center;
/* align-items:flex-end; */
/* align-content:end; */
/* background-position: center;
background-size: cover; */
font-size:medium;
font-family: Cursive;
color: green;

}
.mealinfo{
 width: 350px;
height: 90px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
background-color:rgba(0,0,0,0.9) ;
}

.mealimg{

    width: 350px;
    height: 160px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.mealimg img{
    width: 350px;
    height: 160px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.cuisine-div-inrestaurants{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100px;
  
   
   }

   .meal-div-for-all{
 
    display: grid;    
    row-gap: 20px;
    grid-template-columns: repeat(auto-fit ,minmax(350px,1fr)) ;
    padding:2rem 5rem;
   }
   .div{

    display: flex;
    flex-direction: column;
    margin: 20px;
   }
.divContaner{
    display: grid;
    gap:10px;
    grid-template-columns: repeat(3,1fr);
   margin:50px;
   
}

/* .resturant-info-menu{

   
    display: flex;
    justify-content: center;
   

} */
.resturant-info-menu{
    display: grid;
    /* gap:10px; */
 
   margin:20px 50px;

   grid-template-columns: 2fr 6fr;

}
.line{
    height: 1px;
    border-bottom: 1px solid black;
    
}
.restaurantimg{
    width: 18rem;
    height: 12rem;
    display: flex;
  
    justify-content: flex-end;

    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 10px;
}
.restaurantimg img {
    width: 18rem;
    height: 12rem;
    border-radius: 10px;
}
.restaurant-all-info{
   display: flex;
   flex-direction: column;
   text-align: left;
   /* justify-content:flex-start; */

   grid-column-start: 2;
   grid-column-end: 3;
   padding-left:1rem ;
}


.restaurant-all-info-1 {
    padding:1rem ;
    display: flex;
    justify-content: space-between;
}



.restaurant-all-info-2{
    padding:1rem ;
    display: flex;
    justify-content: space-between;
}


.details{
    color: green;
    font-size: 1.4rem;
}
.details2{
    color: green;
    
}


@media screen and (max-width : 600px) {
    .divContaner{
        display: grid;
        grid-template-columns: repeat(1,1fr);
       
    }

    .restaurantimg{
        width: 20rem;
        height: 12rem;
        display: flex;
      border-radius: 10px;
        justify-content: flex-end;
       
      
    
    }
    .restaurantimg img {
        width:20rem;
        height: 12rem;
        border-radius: 10px;
    }
    .restaurant-all-info{
       display: flex;
       flex-direction: column;
       text-align: left;
       /* justify-content:flex-start; */
 
      
     



}
}
/*  */
@media screen and (max-width : 940px)  and (min-width :600px) {
    .divContaner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       
    }
    .resturant-info-menu{
        display: flex;
        flex-direction: column;
      
    }

  

}