
@keyframes pulsup {
    0%{
        opacity: 1;
        transform:none;

    }
    50%{
        opacity: 0.8;
        transform:scale(1.2)

    }

    100%{
        opacity:1;
        transform:none;


    }
}






.navbar{

position: relative;
    width: 100% ;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-top: 1rem ;
    padding-bottom: 1rem ;

    color : white ;
    font-size: 2rem;
   
}
.applogo{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    animation:  pulsup 2s 2s ease-out forwards;
}
.fork{
 color:green;
 font-size: 2.2rem;
 /* animation:  pulsup 2s 2s ease-out forwards; */
}
.forklogo{
    color:green;
    width: 2.5rem;
    height: 2.5rem;
    /* animation:  pulsup 2s 2s ease-out forwards; */
}
.navbar_links{

display: flex;
justify-content: center;
align-items: center;
padding-right: 1rem;
width: 100%;

 /*  */
 /* position: absolute;
 display: flex;
 flex-direction: column;
 align-items: center;
 top:90px;
 height: 100%;

 right: -100%;
background:rgba(47, 45, 45, 0.98);
 transition:.04s ease-in-out;
 z-index: 10; */


}
.navlink {
 font-size: 20px;
 margin: 1rem;
 margin-top: 2rem ;
 text-decoration: none;
 width: 40px;
 height:40px;



}
.navlink :hover{
    width: 40px;
    height:40px;
    
}


.icons{
    width: 30px;
    height: 30px;
    background: none;
    border: none;

}


.navbar-one-link{
    transition: transform .5s;
}
.navbar-one-link  :hover {
    transform: scale(1.1,1.1);
}
.cart-icon-count:hover{
    transform: scale(.8,.8);
}
.navbar_links-outer{
    display: flex;
justify-content: center;
align-items: center;
padding-right: 1rem;
}
.nav-bar-small-screen{
    display: none;
}
.search{

    display: flex;
    background-color:#fff;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 8px;
    height: 2rem;
}

.search input[type=text]{
border: transparent;
background-color: transparent;
width: 300px;
font-size:1.6rem;



}

.inputsearcherror{


 
    border: 3px solid red;
   
    
    
}
.search input[type=radio]{
width: 1.2rem;
height: 1.2rem;
accent-color:green;
 }


.search input[type=text]:focus{
    outline: none;
    }


.radiosearch{
    font-size: .7rem;
    color: green;
    display: flex;
    align-items: center;
    justify-content:left;

  
}
.radiosearch label{
    padding: 0 14px 0 8px;
}

.radiosearch button{
    cursor: pointer;
    border-radius: 8px;
    width: 2.3rem;
    height: 2.3rem;
}


.userData{

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:80px;
    height: 0;
    width: 0;
    right: -100%;
   background:rgba(47, 45, 45, 0.98);
    transition:.2s ease-in-out;
    
    z-index: 10;
 
}
.activeuserData{
right: 0;
top: 80px;
width: 30vw;
height: 100vh;
animation: come-right 3s ease-in-out forwards;
}

.cart-icon{
position: relative;
display: flex;
justify-content: center;
background: none;


}

.cart-icon-count{
position: absolute;
top: 12%;
right: 12%;
color: white;

font-size: 1rem;
/* display: flex;
justify-content: center; */
text-align: center;
}


@keyframes come-right {
    0%{
  opacity: 0;
  transform: translateX(0%);
  
    }
  70%{
    opacity: .9;
    transform: translateX(+10%);
    
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
    
  }
  
  }




@media screen and (max-width:940px){
    .nav-bar-small-screen{
        display: block;
    }
    .navbar_links{

         position: absolute;
         display: flex;
         flex-direction: column;
         align-items: center;
         top: 60px;
         height: 0;
         width: 0;
         right: -100%;
        background:rgba(47, 45, 45, 0.98);
         transition:.1s ease-in-out;
         z-index: 10;
      
    }
    .active{
     right: 0;
     width: 100vw;
     height: 100vh;
  
  
     }

.icons{
    width: 2rem;
    height: 2rem;
    background: none;
    border: none;
}
.navbar{


    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-top: 1rem ;
    padding-bottom: 1rem ;

    color : white ;
    font-size: 2rem;
   
}
.navlink {
    font-size: 20px;
    /* margin: 1rem;
    margin-top: 2rem ; */
    text-decoration: none;
    width: 40px;
    height:40px;
   
   
   
   }

   .search{
    position: absolute;
    top:60px;
    left: 0;
    right: 2%;
   }
} 
    


.afterlogin-but{

    border: none;
    background: none;
    color: white;
    font-size: 1.5rem;

}

.after-login-icon{
    width: 1rem;
    height:1rem;
    color: green;
}