.navbar{


    width: 100% ;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-top: 1rem ;
    padding-bottom: 1rem ;

    color : white ;
    font-size: 2rem;
   
}
.applogo{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
}
.fork{
 color:darkgreen;
 font-size: 2.2rem;
}
.forklogo{
    color:darkgreen;
    width: 30px;
    height: 30px;
}
.navbar_links{

display: flex;
justify-content: center;
align-items: center;
padding-right: 1rem;
width: 100%;

 /*  */
 /* position: absolute;
 display: flex;
 flex-direction: column;
 align-items: center;
 top:90px;
 height: 100%;

 right: -100%;
background:rgba(47, 45, 45, 0.98);
 transition:.04s ease-in-out;
 z-index: 10; */


}
.navlink {
 font-size: 20px;
   
 margin: 1rem;
 margin-top: 2rem ;
 text-decoration: none;
 width: 40px;
 height:40px;



}
.navlink :hover{
    width: 40px;
    height:40px;
    
}


.icons{
    width: 30px;
    height: 30px;
    background: none;
    border: none;

}
/* .try{
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    transition: transform .5s;
}
.try{
    transform: scale(1.1,1.1); 
} */

.navbar-one-link{
    transition: transform .5s;
}
.navbar-one-link  :hover {
    transform: scale(1.1,1.1);
}
/* <div className='navbar-one-link'> */
.navbar_links-outer{
    display: flex;
justify-content: center;
align-items: center;
padding-right: 1rem;
}
.nav-bar-small-screen{
    display: none;
}
@media screen and (max-width:940px){
    .nav-bar-small-screen{
        display: block;
    }
    .navbar_links{

         position: absolute;
         display: flex;
         flex-direction: column;
         align-items: center;
         top:90px;
         height: 0;
         width: 0;
         right: -100%;
        background:rgba(47, 45, 45, 0.98);
         transition:.1s ease-in-out;
         z-index: 10;
      
    }
    .active{
     right: 0;
     width: 100vw;
     height: 100vh;
  
  
     }

.icons{
    width: 40px;
    height: 40px;
    background: none;
    border: none;
}
.navbar{


    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-top: 1rem ;
    padding-bottom: 1rem ;

    color : white ;
    font-size: 2rem;
   
}

} 
    


