body{
    text-align: center;
     margin: 0;
    padding: 0;
}

.App{
    width: 100vw;

display: grid;

height: 100vh;
display: grid;
grid-template-columns: 1fr ;
grid-template-rows: 1fr 7fr 1fr;
grid-template-areas: "navbar"
"main"
"footer"}

.navbar{
 height: 50px;
    grid-area:navbar ;
    margin-bottom: 10px;
}
.main{
    grid-area:main ;
   
    display: flex;
    justify-content: center;

}
.footer{
    grid-area:footer ;
}