body{
    text-align: center;
     margin: 0;
    padding: 0;
    font-family: Cursive;
    overflow: hidden;
}
button{
    font-family: Cursive;
}
/* .App{
    width: 100vw;

display: grid;

height: 100%;
display: grid;
grid-template-columns: 1fr ;
grid-template-rows: 1fr 7fr 1fr;
grid-template-areas: "navbar"
"main"
"footer"} */

.navbar{
 height: 50px;
    grid-area:navbar ;
    margin-bottom: 10px;

position: sticky;
  top:0;
  z-index: 99;
}
/* .main{
    grid-area:main ;

    display: flex;
    justify-content: center;

} */
.footer{
    grid-area:footer ;
}
.social-icon{
 color: white;
 display: flex;
    justify-content:space-around;


}
.footer-navbar{
    width:100vw;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content:center;
    position: sticky;
  bottom:0;

}
.icon{

    color:white;
    width: 30px;
    height: 30px;
}