.driver{
    background-color: transparent;
    width: 8rem;
    height: 8rem;
position: absolute;
bottom: 0%;
left:-1%;
z-index: -1;
animation: move 4s 2s linear infinite;
}
.driver img{
    background-color: transparent;
    width: 100%;
    height:100%;
}
.maincheckout{
    position: relative;
    height: 100%;
    width: 100%;
}
.cartfull{
    color: green;
    width: 1.6rem;
    height:1.6rem;
}
@keyframes move {
    

        0% {
           opacity: 1;
           transform: translateX(-1%) translateY(0%) scale(1);
        
        }
        100% {
           opacity: 1;
           transform: translateX(31vw) translateY(-80%) scale(.5);
        
        }  
    
    
}