

.outer-popup{
 background-color: rgba(0, 0, 0, .9);
 width: 100vw;
height: 100vh;
position: fixed;
top: 0px;
left:0;
z-index: 99;


display: flex;
justify-content: center;
align-content: center;

}
.inner-popup{

    background-color: #fff;
    width: 500px;
    height:   450px;
   /* position: relative; */
   border-radius: 20px;
   margin: 20px auto;
    padding: 20px;
/* overflow: auto; */
}
.close{

 height: 20px;
 width: 20px;
border: none ;
    font-size: large;
   background: none;

   
}
/* .button{
  display: flex;
  justify-content:flex-end;
  width: 350px;
  border: 2px solid black ;
 
} */